*{
    font-family: 'Helvetica Neue', Arial, sans-serif;
}
.navbar-custom{
    background: #e0dfdf;
    display: flex;
    align-items:center ;
    justify-content: space-between;
}

body{
    background: #e6e4e4;
}


.small-left-side-menu{
    display: none;
}

.left-side-menu{
    background: #003B73;
    border-start-end-radius: 0.5em;
}
.left-side-menu a{
    text-decoration: none;
}
.left-side-menu i{
    color: rgb(255, 255, 255);
}

.topbar-navigation{
    margin-right: 1em;
    background: white;
    border-radius: 2em;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #003B73;
    color: rgb(0, 0, 0);
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.582);
}
.topbar-navigation li{
    width: auto;
    /* border: 2px solid #003B73; */
}

i{
    color: rgb(0, 0, 0);
}

.card-tags{
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 13em;
    margin-bottom: 2em;
}
.card-items{
    width: 25%;
    height: 17em;
}
.footer{
    background: #4d4d4d73;
    color: white;
}
@media screen and (min-width: 500px) and (max-width: 850px) {
    .navbar-custom{
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 767.98px) {
    .navbar-custom{
        display: flex;
        justify-content: space-between;
    }
    .navbar-custom #side-menu a{
        text-decoration: none;
    }
    .navbar-custom #side-menu .nav-item{
        font-size: 1.2em;
        padding-top: 0.5em;
    }
    .navbar-custom #side-menu .nav-item-top{
        padding: 1em;
    }
    .navbar-custom #side-menu .nav-second-level a{
        background-color: #daedff6e;
        color: #496783;
        font-size: 0.7em;
    }

    .navbar-custom #side-menu span{
        color: black;
    }
    .navbar-custom #side-menu #nav-icon{
        margin-right: 1em;
    }

    .small-left-side-menu{
        display: block;
        float: left;
        min-height: 2em;
        width: 30%;
        padding-left: 2em;
    }
    .small-left-side-menu h6{
        color: rgb(109, 109, 109) !important;
    }
}

@media (max-width: 680px) {
    .card-tags{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: auto;
    }
    .card-items{
        width: 100%;
        height: 25%;
    }
}


